# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*Makefile
*.in
*.m4
autom4te.cache/
config/
configure
libtool
config.*
doc/*.7
doc/*.3
platform.h*
*/.deps/
*/.libs/

src/libzmon.pc
src/stamp-h1
src/zmon_selftest*
src/zmon_sensor_gtop

# eclipse setting
.cproject
.project

# backup files
*~
*.log